<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Go4Food Restaurant Catalog</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    />
  </head>
  <style>
    
  
    .custom-track {
      
      position: relative;
      background-color: #ddd;
      height: 7px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 60px;
      margin-top: 50px;
      margin-bottom: 120px;
    }

    .custom-track .custom-step {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      width: 25%;
      margin-top: -18px;
      text-align: center;
      position: relative;
    }

    .custom-track .custom-step.active:before {
      background: #ff5722;
    }

    .custom-track .custom-step::before {
      height: 7px;
      position: absolute;
      content: "";
      width: 100%;
      left: 0;
      top: 18px;
    }
    
    .custom-track .custom-icon {
      display: inline-block;
      width: 40px;
      height: 40px;
      line-height: 40px;
      position: relative;
      border-radius: 100%;
      background: #ddd;
    }
    
    .custom-track .custom-icon.active:before  {
          background: #ee5435;
          color: #fff;
        }

    .custom-track .custom-step.active .text {
      font-weight: 400;
      color: #000;
    }

    .custom-track .custom-text {
      display: block;
      margin-top: 7px;
    }
    .custom-col{
  background: #fff;
  -webkit-box-shadow: 0 1px 6px 1px rgba(69,65,78, 0.1);
  -moz-box-shadow: 0 1px 6px 1px rgba(69,65,78,0.1);
  box-shadow: 0 1px 6px 1px rgba(69,65,78,0.1);
}
/*  for modal */
    .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.custom-itemside {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.order_container{
   padding: 20px;
}
.order_info{
  background: #fff;
  -webkit-box-shadow: 0 1px 6px 1px rgba(69,65,78, 0.1);
  -moz-box-shadow: 0 1px 6px 1px rgba(69,65,78,0.1);
  box-shadow: 0 1px 6px 1px rgba(69,65,78,0.1);
}
.order_info p{
   margin: 10px 0px 10px 0px ;
   
}
.order_info {
      text-align: left;
      padding: 20px;
    }
    .order_info p {
      color: #ef3d3d;
    }
  </style>
  <body>
    <div class="container" style="max-width: 100%">
      <%- include('header') %>
    </div>
    <div class="content" style="min-height: 100vh; margin-top: 0px">
      <%- include('sidebar') %>
      <div class="restaurant-catalog">
         <div class="order_container">

           <div class="order_info">
             <h2 style="color: #ef3d3d">Order Processs :  <%=order._id %></h2>
             <p style="color: #777;"> Cutomer Name : <%=order.customer.name %> </p>
             <p style="color: #777;"> Cutomer Phone : <%=order.customer.phone %> </p>
             <p style="color: #777;"> Cutomer Address : <%=order.customer.address %> </p>
             <p style="color: #777;"> Cutomer Email : <%=order.customer.email %> </p>
             <!-- <p style="color: #340202;"> Product : <%=order.menus.menu_id.title %> X  <%=order.menus.quantity %></p> -->
           </div>
           <h3 style="padding: 20px 5px 20px 10px;">Update the order by clicking on timeline</h3>
         <div class="custom-track">
           <div class="custom-step <% if (order.shippingDetails.orderTracking >= 1) { %>active<% } %>" title="Update: food has prepared">
             <form action="/restaurant/updateorder" method="post">
             <input type="hidden" name="order_id" value="<%=order._id %>">
             <input type="hidden" name="status" value="1">
             <button
               type="submit"
               <% if (order.shippingDetails.orderTracking != 0) { %>disabled<% } %>
               style="border: none; background: transparent; cursor: pointer"
             >
               <span class="custom-icon">
                 <i class="fa fa-hamburger" aria-hidden="true"></i>
 
               </span>
             </button>
           </form>
 
             <span class="custom-text">Preparing Food</span>
           </div>
           <div class="custom-step <% if (order.shippingDetails.orderTracking >= 2) { %>active<% } %>" title="Update : packaging complete">
             
             <form action="/restaurant/updateorder" method="post">
               <input type="hidden" name="order_id" value="<%=order._id %>">
               <input type="hidden" name="status" value="2">
               <button
               <% if (order.shippingDetails.orderTracking != 1) { %>disabled<% } %>
                 type="submit"
                 style="border: none; background: transparent; cursor: pointer"
               >
                 <span class="custom-icon">
                   <i class="fa fa-check-circle"></i>
                 </span>
               </button>
             </form>
 
             <span class="custom-text">Completed Packaging</span>
           </div>
           <div class="custom-step <% if (order.shippingDetails.orderTracking >= 3) { %>active<% } %>"title="Update : shipping Details">
          
             <button
             type="submit"
             <% if (order.shippingDetails.orderTracking != 2) { %>disabled<% } %>
             onclick="openModal()"  style="border: none; background: transparent; cursor: pointer"
             >
               <span class="custom-icon">
                 <i class="fa fa-user-secret"></i>
               </span>
             </button>
             
             <span class="custom-text">Notify Driver</span>
           </div>
           <div class="custom-step <% if (order.shippingDetails.orderTracking >= 4) { %>active<% } %>" title="Update : Package has shipped">
             <form action="/restaurant/updateorder" method="post">
               <input type="hidden" name="order_id" value="<%=order._id %>">
               <input type="hidden" name="status" value="4">
               <button
                 type="submit"
                 <% if (order.shippingDetails.orderTracking != 3) { %>disabled<% } %>
                 style="border: none; background: transparent; cursor: pointer"
               >
                 <span class="custom-icon">
                   <i class="fa fa-shipping-fast"></i>
                 </span>
               </button>
             </form>
             <span class="custom-text">Package Shipped</span>
           </div>
           <div class="custom-step <% if (order.shippingDetails.orderTracking >= 5) { %>active<% } %>" title="Update : Order delivered">
             <form action="/restaurant/updateorder" method="post">
               <input type="hidden" name="order_id" value="<%=order._id %>">
               <input type="hidden" name="status" value="5">
               <button
                 type="submit"
                 <% if (order.shippingDetails.orderTracking != 4) { %>disabled<% } %>
                 style="border: none; background: transparent; cursor: pointer"
               >
                 <span class="custom-icon">
                   <i class="fa fa-tasks"></i>
                 </span>
               </button>
             </form>
             <span class="custom-text">Delivery Completed</span>
           </div>
         </div>
   <!-- Other steps omitted for brevity -->
     <li class="custom-col" style="list-style:none;padding:20px 0px 20px 40px; ">
       <figure class="custom-itemside mb-3">
         <div class="custom-aside"  style="display: flex; align-items: center">
           <img
             src="/images/<%=order.menus.menu_id.images[0] %>"
             class="custom-img-sm border"
             style="margin-right: 10px; width: 200px;"
           />
            <h4  style="margin-left: 10px;">
             <%=order.menus.menu_id.title %> 
            </h4>
         </div>
         <figcaption class="custom-info align-self-center"
         style="
         display: flex;
         align-items: center;
         justify-content: space-evenly;
         width: 90%;
       ">
        <div>
         <p class="custom-title">
          
           X <%=order.menus.quantity %>
         </p>
        </div>
         
            <div>
             <span class="text-muted"
             ><span style="margin-right: 5px;">Price :</span><%=order.menus.menu_id.price %></span
           >

            </div>
            <div>
             
             <span class="text-muted"
             ><span style="margin-right: 5px;">Total :</span><%=order.menus.menu_id.price*order.menus.quantity %></span
           >
            </div>
          
         </figcaption>
       </figure>
     </li>
         </div>
  </ul>
</div>

<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closeModal()">&times;</span>
    <h2>Driver Details</h2>
   
    <form action="/restaurant/updateorderdriver" method="post" style="margin-top: 10px;">
      <input type="hidden" name="order_id" value="<%=order._id %>">
       
      
      <div class="dishform-input">
        <div>
          <label for="firstname" class="dishform-form-label">
            Driver Name
          </label>
          <input
            type="text"
            name="title"
             placeholder="Enter Driver name"
            class="dishform-form-input"
            required
          />
        </div>

        <div class="dishform-input">
          <div>
            <label for="firstname" class="dishform-form-label">
             Driver Phone No.
            </label>
            <input
              type="phone"
              name="title"
               placeholder="Enter Phone no"
              class="dishform-form-input"
              required
            />
          </div>

          <button class="dishform-btn" type="submit">Update</button>

    </form>
  </div>
</div>
        
      </div>
    </div>
    <script>
      function openModal() {
  var modal = document.getElementById("myModal");
  modal.style.display = "block";
}

function closeModal() {
  var modal = document.getElementById("myModal");
  modal.style.display = "none";
}
var activeStepIndex = 0;

    </script>
  </body>
</html>
